<!DOCTYPE mapper

  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.chargev.emsp.mapper.BusinessDetailsMapper">



    <resultMap id="BusinessDetailsResultMap" type="com.chargev.emsp.entity.BusinessDetail">

        <id property="id" column="id" />

        <result property="name" column="name" />

        <result property="website" column="website" />

        <association property="logo" column="logo_id" javaType="com.chargev.emsp.entity.Logo"

            select="com.chargev.emsp.mapper.LogoMapper.selectLogo" />

    </resultMap>



    <select id="selectBusinessDetail" parameterType="string" resultMap="BusinessDetailsResultMap">

        SELECT * FROM BusinessDetail WHERE id = #{id}

    </select>



    <insert id="insertBusinessDetail" parameterType="com.chargev.emsp.entity.BusinessDetail">

        INSERT INTO BusinessDetails (name, logo_id, website)

        VALUES (#{name}, #{logo.id}, #{website})

    </insert>



    <update id="updateBusinessDetail" parameterType="com.chargev.emsp.entity.BusinessDetail">

        UPDATE BusinessDetails

        SET name = #{name}, logo_id = #{logo.id}, website = #{website}

        WHERE id = #{id}

    </update>



    <delete id="deleteBusinessDetail" parameterType="string">

        DELETE FROM BusinessDetails WHERE id = #{id}

    </delete>



</mapper>