<!DOCTYPE mapper

  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.chargev.emsp.mapper.CredentialsMapper">



    <resultMap id="CredentialsResultMap" type="com.chargev.emsp.entity.Credentials">

        <id property="id" column="id"/>

        <result property="token" column="token"/>

        <result property="url" column="url"/>

    </resultMap>



    <select id="selectCredentials" parameterType="string" resultMap="CredentialsResultMap">

        SELECT * FROM Credentials WHERE id = #{id}

    </select>



    <select id="selectCredentialsByToken" parameterType="string" resultMap="CredentialsResultMap">

        SELECT * FROM Credentials WHERE token = #{token}

    </select>



    <insert id="insertCredentials" parameterType="com.chargev.emsp.entity.Credentials">

        INSERT INTO Credentials (token, url)

        VALUES (#{token}, #{url})

    </insert>



    <update id="updateCredentials" parameterType="com.chargev.emsp.entity.Credentials">

        UPDATE Credentials

        SET token = #{token}, url = #{url}

        WHERE id = #{id}

    </update>



    <delete id="deleteCredentials" parameterType="string">

        DELETE FROM Credentials WHERE id = #{id}

    </delete>



</mapper>
