<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chargev.emsp.mapper.LogoMapper">

    <!-- Result Map 정의 -->
    <resultMap id="LogoResultMap" type="com.chargev.emsp.entity.Logo">
        <id property="id" column="id" />
        <result property="url" column="url" />
        <result property="thumbnail" column="thumbnail" />
        <result property="category" column="category" />
        <result property="type" column="type" />
        <result property="width" column="width" />
        <result property="height" column="height" />
    </resultMap>

    <!-- "id"를 기준으로 Logo 선택 -->
    <select id="selectLogo" parameterType="string" resultMap="LogoResultMap">
        SELECT id, url, thumbnail, category, type, width, height
        FROM Logo
        WHERE id = #{id}
    </select>

    <!-- 새 Logo 삽입 -->
    <insert id="insertLogo" parameterType="com.chargev.emsp.entity.Logo">
        INSERT INTO Logo (url, thumbnail, category, type, width, height)
        VALUES (#{url}, #{thumbnail}, #{category}, #{type}, #{width}, #{height})
    </insert>

    <!-- 기존 Logo 업데이트 -->
    <update id="updateLogo" parameterType="com.chargev.emsp.entity.Logo">
        UPDATE Logo
        SET url = #{url},
            thumbnail = #{thumbnail},
            category = #{category},
            type = #{type},
            width = #{width},
            height = #{height}
        WHERE id = #{id}
    </update>

    <!-- "id"를 기준으로 Logo 삭제 -->
    <delete id="deleteLogo" parameterType="string">
        DELETE FROM Logo WHERE id = #{id}
    </delete>

</mapper>