<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chargev.emsp.mapper.RolesMapper">

    <resultMap id="RolesResultMap" type="com.chargev.emsp.entity.Roles">
        <id property="id" column="id" />
        <result property="role" column="role" />
        <result property="partyId" column="party_id" />
        <result property="countryCode" column="country_code" />
        <association property="businessDetails" column="business_details_id" javaType="com.chargev.emsp.entity.BusinessDetail" select="com.chargev.emsp.mapper.BusinessDetailsMapper.selectBusinessDetail" />
    </resultMap>

    <select id="selectRoles" parameterType="string" resultMap="RolesResultMap">
        SELECT id, role, party_id, country_code, business_details_id FROM Roles WHERE id = #{id}
    </select>

    <insert id="insertRoles" parameterType="com.chargev.emsp.entity.Roles">
        INSERT INTO Roles (role, party_id, country_code, business_details_id)
        VALUES (#{role}, #{partyId}, #{countryCode}, #{businessDetails.id})
    </insert>
    <update id="updateRoles" parameterType="com.chargev.emsp.entity.Roles">
        UPDATE Roles
        SET role = #{role}, party_id = #{partyId}, country_code = #{countryCode}, business_details_id = #{businessDetails.id}
        WHERE id = #{id}
    </update>
    <delete id="deleteRoles" parameterType="long">
        DELETE FROM Roles WHERE id = #{id}
    </delete>

</mapper>